/* common share style */
body{
    font-family: 'Hind', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Noto Sans Bengali', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
margin: 0;
padding: 0;
}
.main-color{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 20px;
}
.section-title{
   text-align: center;
   font-size: 30px;
   font-weight: 700;
   color: #181818;
}
.description{
    text-align: center;
    color: #757575;
    font-size: 18px;
}

/* header nav css */
.main-color{
    color: #FD6E0A;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* justify-content: space-between;
    margin: 0px 200px; */
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-Right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* Header tamplate css */
.head{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-size: 650px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
 .banner .profile-pic{
    width: 400px;
}
.btn{
    background-color: transparent;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 20px;
}
.banner-content h4{
    font-size: 35px;
    color: #474747;
    font-weight: 500;
    margin-bottom: 0px;
}
.banner-content h2{
    font-size: 45px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0px;
}
.banner-content p{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* main section css */
main{
    max-width: 1140px;
    margin: 0 auto;

}
main{
    margin-top: 130px;
}
/* about section css */
.about{
    background-color: #FFF8F3;
    border-radius: 5px;
    margin: 100px 0px;
    padding: 100px;
}
.about-info-contain{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
    line-height: 5px;
}
.about-info h4{
    font-weight: normal;
    color: #757575;
}
.about-info p{
    font-weight: bold;
}
/* What i do css */
#i-do{
    padding: 20px 100px;
}
.skils-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 24px;
    background-color: #fff;
    box-shadow: 0px 6px 50px 0px #dfdede;
}
.skill-description{
    color: #757575;
    font-size: 15px;
}